extends layout

block content
  if user
    div.jumbotron.my-4
      h1.display-4 えくすたーなるとぅいったー
      p.lead えくすたーなるとぅいったーはツイッターの検索機能を使ってウェブページ上からツイートを見れるアプリケーションです。
      p.lead お気に入りのツイートは保存することができます。（ツイッター上ではツイ消しされている可能性あり）
      p.lead #（ハッシュタグ）付きツイート、リンクは表示しないようにしています。
        a(href="https://github.com/suissan/proCon2020-winter") 詳しくはこちら。
      p.lead 開発時間がおしてる（技術不足と言う）ため、お気に入り登録時の確認アラートは実装出来ましたが、削除時の確認アラートは実装できませんでした。